<!DOCTYPE html>
<html lang="ko">
    <head>
    </head>
    <body>     
        
        <p>crewName : <%=crewName%></p> <br>
        <p>category : <%=category%></p> <br>
        <p>level : <%=level%></p> <br>
        <p>time : <%=time%></p> <br>
        <p>content : <%=content%></p> <br>
        <p>image : <%=image%></p> <br>

    </body>
</html>